* {
    color: grey;
    text-align: center;
}

.container {
    padding: 10px;
}

.col-sm-3 {
    background-color: gainsboro;
    height: 500px;
    padding-top: 10px;
}

.col-sm-6 {
    background-color: gainsboro;
    height: 500px;
    padding-top: 10px;
}

.col-sm-12 {
    background-color: gainsboro;
    height: 100px;
    padding-top: 10px;
}

.menu a {
    padding-top: 10px;
    padding: 8px;
    display: block;
    text-decoration: underline;
    color: grey;
}
