* {
    box-sizing: border-box;
    font-family: Tipo1;
    color: dimgrey;
}

body {
    margin: 0;
    width: auto;
    height: 800px;
}

@font-face {
    font-family: Tipo1;
    src: url(Fuente1.ttf);
}


header {
    padding: 15px;
    text-align: left;
    margin-left: 18px;
}

.contenido {
    display: flex;
    flex-direction: row;
}


h1 {
    font-size: 35px;
}

h2 {
    margin-top: -15px;
    font-size: 15px;
}

h4 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

h3 {
    font-size: 25px;
    margin-left: 5px;
}

p1 {
    font-size: 15px;
}

.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 5px;
    margin-left: 20px;
    display: block;
    width: 100%;
    text-decoration: none;
}


.main {
    flex: 4;
    align-content: left;
    padding-left: 1vw;
    box-sizing: content-box;
    margin-left: 100px;
    margin-top: -20px;
}

#fotos {
    margin-left: 100px;
}

.main img {
    width: 500px;
}

div {
    overflow: auto;
    text-align: left;
    padding: 10px;
    margin-top: 0px;
}


.right {
    background-color: #e5e5e5;
    width: -5%;
    padding: 8px;
    text-align: center;
    flex: 3;
    margin: 1vw 1vw auto 3vw;
}

.right h4 {
    margin: 0;
}

@media (max-width: 320px) {
    * {
        flex: 1;
    }

    .contenido {
        flex-direction: column;
    }

    .menu {
        margin: auto 2vw 3vw 2vw;
        flex-direction: row;
    }

    .menu a {
        height: 8vw;
    }

    .main {
        margin: 3vw 3vw 5vw 3vw;

    }

    .right {
        margin: 1vw auto auto auto;
        max-width: 70%;
    }

    @media (max-width: 768px) {
        header img {
            max-width: 20vw;
        }

        .contenido {
            flex-direction: column;
        }

        .menu {
            margin: auto 2vw 3vw 2vw;
            flex-direction: row;
        }

        .menu a {
            height: 6vw;
            padding: 0 5vw 1.2vw 0;
        }

        .right {
            margin: 1vw auto auto auto;
            max-width: 70%;
        }
    }
