* {
    background-color: #F5F5F5;
}

@font-face {
    font-family: fuente1;
    src: url(fuente1.ttf);
}

header {
    color: #262520;
    text-align: center;
}

h1 {
    font-family: fuente1;
    font-size: 50px;
    text-decoration: underline;
    font-weight: lighter;
    padding-top: -50px;
    margin-bottom: -5px;
}


h2 {
    font-family: fuente1;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    padding-top: -30px;
    color: #262520;
}

h3 {
    font-family: fuente1;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    color: #262520;
}

h4 {
    font-family: fuente1;
    font-size: 20px;
    text-align: center;
    color: #262520;
    margin-top: 5px;
    font-style: italic;
    font-weight: lighter;
}

p {
    font-family: fuente1;
    font-size: 15px;
    text-align: center;
    color: #262520;
    margin-top: -20px;
    font-weight: lighter;

}

section {
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

#box {
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

img {
    width: 80%;
    height: auto;
    filter: saturate(0);
    padding: 10px;
    align-content: center;
}

a:hover img {
    filter: saturate(1);
}

footer {
    font-family: fuente1;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #262520;
}

.link {
    color: #262520;
}

.link:hover {
    color: #262520;
}
