div {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}

nav {
    background-color: #F9F9F9;
}

.nav-link {
    color: #333333;

}


.nav-link:hover {
    color: #333333;
}

section {
    background-color: #E6E6E6;
}

@media (max-width: 568px) {
    h1 {
        font-size: 250%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 150%;
    }

    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
}


    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
