body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
}

#encabezado {
    height: 180vh;
    margin-top: 100px;
    background-image: url(imgs/fondo.jpg);
    background-size: cover;
    margin-top: -40px;
}



#cabecera {
    margin-bottom: -200px;
    top: left;
    width: auto;
    height: 40px;
    padding: 4px 0 4px 0;
}

#cabecera li {
    display: inline;
    color: grey;
    margin: 0 20px 0 10px;
    float: 0;
}

.menu {
    padding: 20px;
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    margin-top: -30px;
}


#milista li {
    display: inline-block;
    padding: 30px;

}

ul.enlaces li {
    display: inline-block;
    padding: 0 10px 0 0;
    margin-left: 300px;
}

.mover {
    position: relative;
    transform: translate(15%);
    transition: left 1s, transform 1s;
}

.mover {
    text-decoration-color: antiquewhite;
    font-family: Helvetica Neue, sans-serif;
    padding-left: 100px;
}

.mover:hover {
    left: 50px;
}


#titulos {
    padding: 0 0 80px 300px;
}

#cuerpo {
    padding: 0 0 200px 300px;
    max-width: 700px;
    margin-top: 0px;
}

#links {
    padding: 0 0 200px 300px;
    margin-top: -100px;
}

h1 {
    color: gray;
    font-weight: lighter;
    font-size: 30pt;
    line-height: 65px;
    max-width: 700px
}

h2 {
    color: gray;
    font-weight: lighter;
    font-size: 15pt;
    line-height: 35px;
}

p {
    color: gray;
    font-size: 10pt;
    font-weight: lighter;
}


h3 {
    font-weight: lighter;
    color: gray;
    font-size: 8pt;
    line-height: 50px;
}

#pie {
    background-color: grey;
    display: block;
    padding-left: 300px;
    margin-left: -400px;
    margin-bottom: -300px;
}

ul.infoextra {
    color: whitesmoke;
    font-size: 15pt;
    line-height: 50pt;
    padding: 100px 0;
    margin-left: 100px;
}

ul {
    list-style: none;
    padding: 0;
}


a:link {
    color: lightgray;
    text-decoration: none;
}

.normal:hover {
    text-decoration: underline;
}

.raro:hover {
    text-decoration: line-through;
    color: indianred;
}
