* {
    color: black;
}

.container {
    padding: 20px;
}

.col-sm-4 {
    background-color: lavender;
}

.col-sm-8 {
    background-color: lavenderblush;
    overflow: auto;
}

.col-sm-12 {
    background-color: lightyellow;
    height: 50px;
}


#navegar {
     height: 500px;
}

#logo {
       height: 250px;
}

#contenido {
     height: 250px;
}